* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 156, 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 60px 0 40px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 0 20px black;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 1s ease;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face .dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.front {
  transform: rotateY(0deg) translateZ(50px);
}

.back {
  transform: rotateY(180deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.one .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.two .dot:nth-child(1) {
  position: absolute;
  top: 25%;
  left: 25%;
}
.two .dot:nth-child(2) {
  position: absolute;
  bottom: 25%;
  right: 25%;
}

.three .dot:nth-child(1) {
  position: absolute;
  top: 25%;
  left: 25%;
}
.three .dot:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.three .dot:nth-child(3) {
  position: absolute;
  bottom: 25%;
  right: 25%;
}

.four .dot:nth-child(1) {
  position: absolute;
  top: 25%;
  left: 25%;
}
.four .dot:nth-child(2) {
  position: absolute;
  top: 25%;
  right: 25%;
}
.four .dot:nth-child(3) {
  position: absolute;
  bottom: 25%;
  left: 25%;
}
.four .dot:nth-child(4) {
  position: absolute;
  bottom: 25%;
  right: 25%;
}

.five .dot:nth-child(1) {
  position: absolute;
  top: 25%;
  left: 25%;
}
.five .dot:nth-child(2) {
  position: absolute;
  top: 25%;
  right: 25%;
}
.five .dot:nth-child(3) {
  position: absolute;
  bottom: 25%;
  left: 25%;
}
.five .dot:nth-child(4) {
  position: absolute;
  bottom: 25%;
  right: 25%;
}
.five .dot:nth-child(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.six .dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.six .dot:nth-child(1) {
  position: absolute;
  top: 15%;
  left: 15%;
}

.six .dot:nth-child(2) {
  position: absolute;
  top: 15%;
  right: 15%;
}

.six .dot:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

.six .dot:nth-child(4) {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}

.six .dot:nth-child(5) {
  position: absolute;
  bottom: 15%;
  left: 15%;
}

.six .dot:nth-child(6) {
  position: absolute;
  bottom: 15%;
  right: 15%;
}

.roll-container {
  margin-top: 20px;
  text-align: center;
}

@keyframes rolling {
  50% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg);
  }
}

.roll {
  cursor: pointer;
  color: rgb(0, 150, 0);
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid rgb(0, 150, 0);
  transition: 0.4s;
}

.roll:hover {
  color: white;
  background-color: rgb(0, 150, 0);
}
